*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#fff;
}

html{
    font-family: "Open sans",sans-serif;
}
/* Bar */
#bar{
    color:#fff; /* Tüm renkler bardaki beyaz oldu */
    display: flex;  /* Yazı ve list elemanları yan yana geldi */ /*  bu ve altındakilerden dolayı satır olarak yerleştiriyor.*/
    justify-content: space-between;  /* Başlığı ve list elemanlarını ayırdın. */
    align-items: center;  /* Dikeyde ortalandı  */
    padding: 0 0.5rem;
    height: 80px;
}
#bar ul{
    list-style-type: none;  /* List elemanlarındaki yuvarlaklar kalktı. */
    display: flex; /* List elemanlarını yan yana getirdi. */
    align-items: center;
}
#bar ul li a{
    padding: 0.5rem; /* Listdeki a etiketleri çok bitişikti. Boşluk bıraktırdık. */
}
#bar ul li a:hover{
    background: #336ea2;
    border-radius: 4px;
}

/* Ana sayfa Section */
.ad{
display: flex; /*Resim ile yazıyı yan yana aldık */
flex-direction: column; /*Sonra yan yana gelmesini istemediğimiz için alt alta aldık */
justify-content: center; /* Resmi x ekseninde ortaya taşıdık */
align-items: center; /* Resmi y ekseninde ortaya taşıyıp sayfanın tam ortasına gelmiş oldu.*/
padding: 2rem; /*navbar ile boşluk bıraktırdık. */
border-bottom: 1px solid grey;
}
.ad img{
    max-width: 100%; 
    height: auto;
    border-radius: 100%; /*yüksekliğini bilmediğimiz için yüksekliğin tam değerini alsın istiyoruz. */
}
.ad h2{
    margin-bottom: 0.5rem; /*Başlığa aşağıdan boşluk bıraktık */
}
.ad p{
    opacity:0.6;/*Resmin altındaki yazının bulanıklığını arttırdık */
    font-style: italic;
}
/* Hakkımda */
#hakkimda{
    color: #fff;
    padding: 0.75rem;
}
#hakkimda .itemler{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hakkimda .itemler .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
/* Resimler kısmı */
#resimler{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#resimler .img{
    width: 33%;
    height: auto;
}


/* Şehrim */
.sayfa{
    width: 660px;
    margin: 0 auto;
}
.sliderkonum{
    position: relative;
    width: 660px;
    height: 330px;
    overflow: hidden;
}
.resim-1{
    left: 0px;
}
.resim-2{
    left: 660px;
}
.resim-3{
    left: 1320px;
}
.resim-4{
    left: 1980px;
}
.sliderkonum > .slider{
    position: absolute;
    left: 0px;
    width: 2640px;
    height: 330px;
    -webkit-animation-duration: 10s;
    -webkit-animation-name: sliders;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-duration: 10s;
    -moz-animation-name: sliders;
    -moz-animation-iteration-count:infinite;
    -ms-animation-duration: 10s;
    -ms-animation-name: sliders;
    -ms-animation-iteration-count:infinite;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}
@-webkit-keyframes sliders{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-700px;}
    30% {left:-700px;}
    40% {left:-1400px;}
    50% {left:-1400px;}
  }
  @-moz-keyframes sliders{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-700px;}
    30% {left:-700px;}
    40% {left:-1400px;}
    50% {left:-1400px;}
  }
  @-ms-keyframes sliders {
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-700px;}
    30% {left:-700px;}
    40% {left:-1400px;}
    50% {left:-1400px;}
  }
  @keyframes sliders{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-700px;}
    30% {left:-700px;}
    40% {left:-1400px;}
    50% {left:-1400px;}
  }
  /* Sehrim açıklama */
  #sehrim{
      display: flex;
      
  }
  #sehrim .sehir{
      display: flex;
      justify-content: center;
      align-items: center;
  }

